@mixin flex-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol-price-card-container {
    display: inline-block;
    width: 300px;
    height: 100px;

    display: flex;
    flex-direction: column;
    
    border: gray 1px solid;
    border-radius: 8px;
}

.card-symbol {
    width: 100px;
    height: 30%;

    @include flex-content-center;
}

.card-price {
    height: 70%;
    .content {
        color: #2EBD85;
    }
    
    @include flex-content-center;
}
