.pair-detail-page-container {
    max-width: 960px;
    height: 100vh;
    margin: 0 auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .page-title {
        margin: 10px;
        font-size: large;
    }
    
    .back-to-home-page-button {
        width: 150px;
        padding: 10px;
    
        border: solid 1px black;
        border-radius: 8px;
    }
}
