.main-page-container {
    border: red solid 1px;

    max-width: 960px;
    height: 100vh;
    margin: 0 auto;
    
    text-align: center;
}

.page-title {
    margin: 10px;
    font-size: large;
}
