.interval-select-container {
    border: red 1px solid;
    width: 200px;
    padding: 10px;

    .interval-select {
        margin-left: 10px;
        width: 80px;
        text-align: center;
    }
}

